{% extends "store/base.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <div class="border p-3 rounded-md mx-auto flex flex-col">
        <h1 class="text-3xl font-bold mb-4">{{ item.name }}</h1>
        <p class="mb-2">{{ item.description }}</p>
        <p class="mb-4 font-semibold">Цена: {{ item.price }} {{ item.currency|upper }}</p>

        <form id="payment-form" class="space-y-4">
            <div id="card-element" class="p-4 border rounded max-w-md bg-white"></div>
            <div id="card-errors" role="alert" class="text-red-600"></div>
            <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700">Купить</button>
        </form>
    </div>

    <script>
        const stripe = Stripe("{{ stripe_public_key }}");
        const elements = stripe.elements();
        const card = elements.create('card');
        card.mount('#card-element');

        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const response = await fetch("/buy_item/{{ item.id }}/");
            const data = await response.json();
            const clientSecret = data.client_secret;

            const {error, paymentIntent} = await stripe.confirmCardPayment(clientSecret, {
                payment_method: { card: card }
            });

            if (error) {
                document.getElementById('card-errors').textContent = error.message;
            } else if (paymentIntent.status === "succeeded") {
                alert("Payment successful!");
            }
        });
    </script>
{% endblock %}