{% extends "store/base.html" %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">Мои заказы</h1>

<ul class="space-y-4">
    {% for order in orders %}
    <li>
        <div class="relative group">
            <a href="{% url 'order-detail' order.id %}" class="absolute inset-0 z-10"></a>

            <div class="p-4 border rounded bg-white flex justify-between items-center relative z-0 group-hover:bg-gray-100 transition">
                <div>
                    <p class="font-semibold">Заказ #{{ order.id }}</p>
                    <p>Товары: {{ order.items.all|length }}</p>
                    <p>Общая сумма: {{ order.total_price }} {{ order.items.first.currency|upper }}</p>
                    <p>Создан: {{ order.created_at|date:"Y-m-d H:i" }}</p>
                </div>
                <div class="relative z-20">
                    <a href="{% url 'buy-order' order.id %}" 
                       class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                       Оплатить
                    </a>
                </div>
            </div>
        </div>
    </li>
    {% empty %}
    <li>У вас пока нет заказов.</li>
    {% endfor %}
</ul>
{% endblock %}